.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

span#red{
  color: red;
  text-decoration: none;
}

.App p {
  width: 70%;
}

.App span {
  text-decoration: line-through;
}

.board {
  width: 40%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
}

.board .field {
  display: block;
  width: 4.5rem;
  height: 4rem;
  background: #C0C0C0;
  border: 2px solid #000000;
}